<h1>Listing wish_items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Wishlist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wish_items.each do |wish_item| %>
  <tr>
    <td><%= wish_item.product_id %></td>
    <td><%= wish_item.wishlist_id %></td>
    <td><%= link_to 'Show', wish_item %></td>
    <td><%= link_to 'Edit', edit_wish_item_path(wish_item) %></td>
    <td><%= link_to 'Destroy', wish_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wish item', new_wish_item_path %>
